.addContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    form{
        width: 50%;
        .raziliq{
            margin-left: 13%;
        }
    }
}