.header {
  width: 100%;
  display: flex;
  background-color: rgb(49, 46, 46);
  justify-content: center;
  .navbar {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    font-size: 1.2rem;
    .left {
      display: flex;
      h1 {
        color: white;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    .right {
      a {
        .addButton {
          font-size: 1.2rem;
          padding: 1.2rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
